<main id="container">
    <app-detailed-pokemon 
    [pokemon]="selectedPokemon"
    (clicked) = "openCloseDetail()"
    [open]="detail"
    [ngClass]="{open: detail}"></app-detailed-pokemon>
    <app-picture-pokemon 
    [pokemon]="selectedPokemon"
    [ngClass]="{open: detail}"></app-picture-pokemon>
    <div id="cardContainer" #cards (scroll)="onScroll($event)">
        <app-card-pokemon *ngFor="let pokemon of pokemonList"
        [data]="pokemon"
        [selected]="pokemon.name === selectedPokemon?.name"
        (clicked)="cardClicked($event)"
        >
        </app-card-pokemon>
        <img src="./../../../assets/img/spinner.svg" alt="Loading" id="spinner" *ngIf="loading">
    </div>  
</main>